@use '../../../CSS/variables';

mat-icon {
    color: variables.$accent-color;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table {
    thead {
        text-align: left;
        border-bottom: 1px solid lightgray;
    }

    th {
        padding-right: 10px;
    }

    tbody tr:hover {
        background-color: lavenderblush;
    }

    td {
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
}

.nobr {
    white-space: nowrap;
}

button {
    @include variables.button;
}