@use '../../../CSS/variables';

mat-icon {
    color: variables.$accent-color;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table {
    thead {
        text-align: left;
        border-bottom: 1px solid lightgray;
    }

    th {
        padding: 0.5em;
        font-size: 1.6em;
    }

    tbody tr:hover {
        background-color: #04434329;
    }

    td {
        padding: 10px;
        border-bottom: 1px solid lightgray;
        font-size: 1.4em;
    }
}

tfoot {
    tr {
        font-size: 1.4em;
    }
    td {
        padding: 1em;
        border: none;
    }
}

.nobr {
    white-space: nowrap;
}

button {
    @include variables.button;
}

@media screen and (max-width: 601px) {
    body {
        font-size: 1em;
    }
}