@use './variables';

:root {
    font-size: 62.5%;
}

body {
    font-family: variables.$font-stack;
    background-color: variables.$bg-color;
    color: variables.$font-color;
    font-size: 1.5em;
    line-height: 1.6em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 2em;
    background-color: variables.$main-color;
}

h1,
h2 {
    color: variables.$heading-color;
}

//Font sizes
h1 {
    font-size: variables.$fontsize-h1;
}

h2 {
    font-size: variables.$fontsize-h2;
}

p {
    font-size: variables.$fontsize-p;
}

nav {
    font-size: variables.$fontsize-nav;
}

@media screen and (min-width: 701px) and (max-width: 900px) {

    //Font sizes
    h1 {
        font-size: variables.$fontsize-h1-tablet;
    }

    h2 {
        font-size: variables.$fontsize-h2-tablet;
    }

    p {
        font-size: variables.$fontsize-p-tablet;
    }

    nav {
        font-size: variables.$fontsize-nav-tablet;
    }

    main {
        padding: 1em;
    }

    //Table
    
    th, td, tr {
        font-size: 1.1em !important;
    }
}


@media screen and (max-width: 700px) {

    //Font sizes
    h1 {
        font-size: variables.$fontsize-h1-mobile;
    }

    h2 {
        font-size: variables.$fontsize-h2-mobile;
    }

    p {
        font-size: variables.$fontsize-p-mobile;
    }

    nav {
        font-size: variables.$fontsize-nav-mobile;
    }

    main {
        padding: 1em;
    }

    //Table
    
    th, td, tr {
        font-size: 1.1em !important;
    }

    tr,
    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    thead {
        display: none !important;
    }

    tr {
        border-bottom: 1px solid lightgrey;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 1em;
    }

    tr:first-child {
        border-top: 1px solid lightgrey;
    }

    td {
        border-bottom: none !important;
        padding-left: 1em;
    }

    td::before {
        content: attr(data-title);
        font-weight: bold;
        padding-right: 1em;
    }

    td:last-child::before {
        padding-right: 0px;
    }
}