@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:wght@600&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//Font-style
$font-stack: "Inter", sans-serif;
$font-stack-h1: "Intel One Mono", monospace;

//Colors light
$bg-color: #EBEBEB;
$main-color: #FAFAFA;
$font-color: #222222;
$accent-color: #DF7F01;
$heading-color: #044343;
$accent-second: #C547FF;
$button-disabled: #df7f018c;

//Colors dark
$bg-color-dark: #0A0A0A;
$main-color-dark: #222222;
$font-color-dark: #FAFAFA;
$heading-color-dark: #EBEBEB;
$accent-color-dark: #DF7F01;
$accent-second-dark: #C547FF;

//Font-sizes
$fontsize-h1: 5em;
$fontsize-h2: 4em;
$fontsize-h3: 3.5em;
$fontsize-p: 1.4em;
$fontsize-nav: 1.4em;

//font-sizes media tablet
$fontsize-h1-tablet: 4em;
$fontsize-h2-tablet: 2.5em;
$fontsize-h3-tablet: 2em;
$fontsize-p-tablet: 1em;
$fontsize-nav-tablet: 1em;

//font-sizes mobile max-width 600px
$fontsize-h1-mobile: 3em;
$fontsize-h2-mobile: 2em;
$fontsize-h3-mobile: 1.5em;
$fontsize-p-mobile: 1em;
$fontsize-nav-mobile: 1em;

@mixin button {
    min-width: 75px;
    max-height: 50px;
    padding: 1em;
    background-color: $accent-color;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    border: none;
}