<h2>Kurser</h2>
<div class="forms">
    <div>
        <label for="search">Sök: </label><br>
        <input type="text" id="search" placeholder="Sök efter kurs..." [value]="searchInput()"
            (input)="searchInput.set($any($event.target).value)">
    </div>
    <div>
        <label for="subject">Ämne: </label><br>
        <select id="subject" [value]="optionInput()" (change)="optionInput.set($any($event.target).value)">
            <option value="">Välj ämne</option>
             @for (subject of uniqueSubjects(); track subject.subjectCode) {
            <option [value]="subject.subjectCode">{{ subject.subject }}</option>
            }
        </select>
    </div>
</div>
<div>Visar {{ counter }} kurser av totalt {{ allCourses }}.</div>

<table>
    <thead>
        <tr>
            <th class="sort" (click)="sortByCode()">Kurskod</th>
            <th class="sort" (click)="sortByName()">Kursnamn</th>
            <th class="sort" (click)="sortByPoints()">Poäng</th>
            <th class="sort" (click)="sortBySubject()">Ämne</th>
            <th>Kursplan</th>
            <th class="nobr">Lägg till</th>
        </tr>
    </thead>

    <tbody>
        @for (course of coursesFiltered(); track $index;) {
        <tr>
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}" traget="_blank"><mat-icon>open_in_new</mat-icon></a></td>
            <td><button (click)="courseschemaService.addCourseToSchema(course)" class="nobr">Lägg till</button></td>
        </tr>
        }

    </tbody>
</table>