@use '../../../CSS/variables';
@use 'sass:color';

.forms {
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 0.8em;
    margin-right: 1em;
}

select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-size: 0.8em;
}

mat-icon {
    color: variables.$accent-color;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table {
    thead {
        text-align: left;
        border-bottom: 1px solid lightgray;
    }

    th {
        padding: 1em;
        padding-left: 0;
    }

    tbody tr:hover {
        background-color: lavenderblush;
    }

    td {
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
}

.sort {
    cursor: pointer;
    text-decoration: underline;
}

.nobr {
    white-space: nowrap;
}

button {
    @include variables.button;
}

.button-disabled {
    background-color: variables.$button-disabled;
}