<h2>Kurser</h2>
<div class="form">
    <label for="search">Sök: </label><br>
    <input type="text" id="search" placeholder="Sök efter kurs..." [value]="searchInput()"
        (input)="searchInput.set($any($event.target).value)">
</div>
<div class="form">
    <label for="subject">Ämne: </label><br>
    <select id="subject">
        <option [value]="">Välj ämne</option>
        @for (course of coursesFiltered(); track $index;) {
        <option [ngValue]="">{{ course.subject }}</option>
        }
    </select>
</div>

<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Poäng</th>
            <th>Ämne</th>
            <th>Kursplan</th>
            <th class="nobr">Lägg till</th>
        </tr>
    </thead>
    <tbody>
        @for (course of coursesFiltered(); track $index;) {
        <tr>
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}" traget="_blank"><mat-icon>open_in_new</mat-icon></a></td>
            <td><button (click)="courseschemaService.addCourseToSchema(course)" class="nobr">Lägg till</button></td>
        </tr>
        }

    </tbody>
</table>